html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  display: -webkit-flex;
  flex-direction: column; }

header {
  height: .4rem;
  position: relative;
  background: #fff; }
  header ul {
    width: 60%;
    margin: 0 20%;
    display: -webkit-flex; }
    header ul li {
      flex: 1;
      box-sizing: border-box;
      text-align: center;
      line-height: .38rem; }
    header ul .active {
      color: #fe4d4d;
      border-bottom: 2px solid #fe4d4d;
      box-sizing: border-box; }
  header p {
    position: absolute;
    right: .1rem;
    top: .07rem;
    color: #c3c3c3; }

#scroll {
  flex: 1;
  overflow: hidden; }
  #scroll .scroll-box {
    background: #f3f3f3; }
    #scroll .scroll-box nav {
      width: 90%;
      height: .6rem;
      position: relative;
      margin: 0 5%; }
      #scroll .scroll-box nav ul {
        width: 100%;
        position: absolute;
        top: .1rem;
        border: 1px solid #ccc;
        border-radius: .05rem;
        display: -webkit-flex;
        background: #fff; }
        #scroll .scroll-box nav ul li {
          flex: 1;
          line-height: .3rem;
          text-align: center;
          border-right: 1px solid #ccc; }
        #scroll .scroll-box nav ul li:last-child {
          border-right: 0; }
        #scroll .scroll-box nav ul .bg {
          background: #fe4d4d;
          color: #fff; }
    #scroll .scroll-box aside {
      display: -webkit-flex;
      background: #fff;
      height: .4rem; }
      #scroll .scroll-box aside .left {
        flex: 8; }
        #scroll .scroll-box aside .left ul {
          display: -webkit-flex;
          margin-top: .1rem; }
          #scroll .scroll-box aside .left ul li {
            flex: 1;
            text-align: center;
            height: .2rem;
            border-right: 1px solid #ccc; }
          #scroll .scroll-box aside .left ul li:last-child {
            border-right: 0; }
          #scroll .scroll-box aside .left ul .col {
            color: #fe4d4d; }
      #scroll .scroll-box aside .right {
        flex: 2;
        text-align: center;
        border-left: 1px solid #ccc; }
        #scroll .scroll-box aside .right .iconfont {
          font-size: .3rem;
          color: #6a6a6a;
          line-height: .4rem; }
    #scroll .scroll-box .main {
      background: #fff; }
      #scroll .scroll-box .main ul {
        background: url(../img/yes.jpg) no-repeat 0 0;
        background-size: .6rem .6rem;
        margin-bottom: .2rem; }
        #scroll .scroll-box .main ul li {
          display: -webkit-flex;
          justify-content: space-between;
          margin: 0;
          padding: 0;
          padding-left: .4rem;
          padding-top: .2rem; }
          #scroll .scroll-box .main ul li h4 {
            display: -webkit-flex;
            color: #333; }
            #scroll .scroll-box .main ul li h4 .iconfont {
              color: #ccc;
              margin: 0;
              padding: 0;
              padding-right: .05rem; }
          #scroll .scroll-box .main ul li span {
            border: 1px solid #7fdd81;
            border-radius: .1rem;
            height: .2rem;
            color: #7fdd81;
            margin: 0;
            padding: 0;
            margin-right: .1rem;
            padding: 0 .02rem; }
          #scroll .scroll-box .main ul li .span {
            color: #f3bb4c;
            border: 1px solid #f3bb4c; }
          #scroll .scroll-box .main ul li .list {
            flex: 1; }
            #scroll .scroll-box .main ul li .list img {
              display: block;
              width: 90%;
              height: auto;
              padding-top: .2rem; }
            #scroll .scroll-box .main ul li .list h6 {
              margin: 0;
              padding: 0;
              font-size: .1rem;
              font-weight: normal;
              color: #a2a2a2; }
        #scroll .scroll-box .main ul li:last-child {
          margin: 0;
          padding: 0;
          padding-left: .05rem;
          padding-right: .2rem;
          text-align: center;
          position: relative; }
          #scroll .scroll-box .main ul li:last-child h5 {
            margin: 0;
            padding: 0;
            height: .5rem;
            line-height: .5rem; }
          #scroll .scroll-box .main ul li:last-child .bgcolor {
            color: #42b4f0; }
          #scroll .scroll-box .main ul li:last-child .iconfont {
            position: absolute;
            top: .07rem;
            color: #a2a2a2;
            right: .03rem;
            font-size: .26rem; }
      #scroll .scroll-box .main .no {
        background: url(../img/no.png) no-repeat 0 0;
        background-size: .5rem .5rem; }

footer {
  height: .45rem;
  background: #fff;
  border-top: 1px solid #ccc; }
  footer ul {
    display: -webkit-flex; }
    footer ul li {
      flex: 1;
      display: -webkit-flex;
      flex-direction: column;
      align-items: center; }
      footer ul li .iconfont {
        font-size: .24rem; }
      footer ul li p {
        font-size: .1rem; }
    footer ul .foot-bg {
      color: #fa3d3d; }

/*# sourceMappingURL=style.css.map */
